*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
:root{
    --color-detalle: #28ff88;
    --background-secciones-oscuras:rgba(0, 0, 0, 0.842);
    --mascara: rgba(0, 0, 0, 0.466);
    --background-inputs:rgba(65, 65, 65, 0.842);
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    position: fixed;
    z-index: 999999;
    color: aliceblue;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
header > nav{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
header > nav > a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: auto;
}
header > nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 20px);
    gap: 35px;
    align-items: center;
    padding-left: 200px;
    padding-top: 20px;
}
header > nav > ul > li{
    justify-content: end;
}
header > nav > ul > li > a{
    color: white;
    margin: auto;
}
.mascara{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--mascara);
}

/* BLOQUE PRESENTACION */

#base, #experiencia, #resume, #testimonio{
    width: 100%;
    height: 100%;
    
}
#base > .img-fondo, #experiencia > .img-fondo, #resume > .img-fondo, #testimonio > .img-fondo{
    position: relative;
    width: auto;
}
#base > .img-fondo > img, #experiencia > .img-fondo > img, #resume > .img-fondo > img, #testimonio > .img-fondo > img{
    top: 0;
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

/* SIDEBAR */
#sidebar{
    position: fixed;
    right: 34px;
    top: 25%;
    z-index: 9999;
    color: white;
}
#sidebar > ul{
    list-style: none;
    margin-right: 50px;
    font-size: 30px;
}

.active{
    color: var(--color-detalle);
}

#base >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 35%;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

#base >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 80px;
}
#base >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#base >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#base >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#base >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#base >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#base >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}

/* BLOQUE QUE HAGO */
#what-i-do{
    width: 100%;
    height: 100%;
    background-color: var(--background-secciones-oscuras);
}
#what-i-do > .img-fondo{
    position: relative;
    height: 100vh;
}
#what-i-do > .img-fondo > .base-info{
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 400px) minmax(300px, 1000px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#what-i-do >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 110px;
}
#what-i-do >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#what-i-do >.img-fondo > .base-info > .datos > p:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#what-i-do >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#what-i-do >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#what-i-do >.img-fondo > .base-info > .datos > .descripcion{
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: gray;
    text-align: justify;
}
#what-i-do >.img-fondo > .base-info > .habilidades{
    margin-left: 30px;
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress{
    width: 75%;
    height: 8px;
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress > .progress-bar{
    background-color: var(--color-detalle);
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel{
    display: grid;
    grid-template-columns: auto 30px;
    width: 75%;
    margin-bottom: -13px;
}

/* BLOQUE EXPERIENCIA */
#experiencia >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 750px);
    gap: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

#experiencia >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    margin-top: -165px;
}
#experiencia >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#experiencia >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#experiencia >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#experiencia >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#experiencia >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#experiencia >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 260px));
    gap: 30px;
    margin-top: 80px;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items{
    width: 100%;
    height: 100%;
    border: white 3px solid;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > h5{
    font-weight: 700;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items:hover{
    background-color: var(--color-detalle);
    color: black;
}
#experiencia >.img-fondo > .base-info > .datos > a{
    text-decoration: none;
    color: white;
    
}
#experiencia >.img-fondo > .base-info > .datos > a > h1{
    font-size: 22px;
    margin-top: 40px;
}

/* BLOQUE SERVICIOS */

#servicios{
    width: 100%;
    height: 100vh;
    background-color: var(--background-secciones-oscuras);
}
#servicios > .img-fondo{
    position: relative;
    height: 100vh;
}
#servicios > .img-fondo > .base-info{
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 400px) minmax(300px, 1000px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    position: absolute;
}
#servicios >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    margin-left: 430px; /* SOLO PARA ESTE CASO */
    margin-top: -300px;
}
#servicios >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#servicios >.img-fondo > .base-info > .datos > p:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#servicios >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#servicios >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#servicios >.img-fondo > .base-info > .datos > .descripcion{
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: gray;
}
#servicios >.img-fondo > .base-info > .datos > .descripcion > ol > li{
    font-size: 16px;
    text-transform: uppercase;
}
#servicios >.img-fondo > .base-info > .tiempo > img{
    width: 70%;
    height: 350px;/*  DEBE CAMBIARSE */
    position: relative;
}
#servicios >.img-fondo > .base-info > .tiempo > .dato{
    display: grid;
    position: absolute;
    top: 250px;
    grid-template-columns: repeat(2, minmax(80px, 100%));
    align-items: center;
    margin-left: 30px;
}
#servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(1){
    font-size: 160px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(68, 66, 66, 0.411);
}
#servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(2){
    font-size: 25px;
    width: 100px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 50px;
}
/* BLOQUE RESUME */
#resume >.img-fondo > .mascara{
    width: 100vw;
    height: 100vh;
}
#resume >.img-fondo > .base-info{ /* LA UNICA IMEGEN QUE DEBE TRAER UNA MASCARA */
    background: url(../img/img-background.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    display: grid;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 50px;
    color: white;
    align-items: baseline;
    padding-top: 13%;
   /*  padding-left: 2%; */
    width: 100%;
}

#resume >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-right: 160px;
}
#resume >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#resume >.img-fondo > .base-info > .datos {
    padding-bottom: 5px;
    margin-bottom: 100px;
}
#resume >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#resume >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#resume >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 420px));
    gap: 30px;
    font-family: 'Poppins', sans-serif;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);    
}
#resume >.img-fondo > .base-info > .datos > a{
    text-decoration: none;
    color: white;
    
}
#resume >.img-fondo > .base-info > .datos > a > h1{
    font-size: 22px;
    margin-top: 40px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > p{
    background-color: #28ff8994;
    color: rgba(22, 22, 22, 0.788);
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul{
    position: relative;
    list-style: none;
    
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li {
    padding-left: 5.7%;
    border-left: 1px solid rgba(104, 104, 104, 0.705);
    padding-right: 7%;
    padding-bottom: 2%;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li:before {
    position: absolute;
    content: '';
    left: 5.7%;
    width: 1rem;
    height: 1rem;
    background: #0e0e0e;
    border-radius: 50%;
    border: 2px solid var(--color-detalle);
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li > h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .lugar{
    margin-top: 25px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .fecha{
    margin-top: 25px;
    margin-bottom: 14px;
    font-size: 12px;
    color: var(--color-detalle);
    letter-spacing: 1px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .descripcion{
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 14px;
    color: rgb(209, 209, 209);
    line-height: 27px;
    text-align: justify;
}
/* BLOQUE EMPRESAS */
#empresas{
    width: 100%;
    height: 100%;
    background-color: var(--background-secciones-oscuras);
}
#empresas > .img-fondo{
    position: relative;
    height: 100vh;
}
#empresas > .img-fondo > .base-info{
    display: grid;
    top: 30vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 1500px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#empresas >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 110px;
}
#empresas >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#empresas >.img-fondo > .base-info > .datos{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    gap: 20px;
}
#empresas >.img-fondo > .base-info > .datos > .item > img{
    width: 100%;
}

/* BLOQUE TESTIMONIOS */
#testimonio >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 25%;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

#testimonio >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 250px;
    padding-bottom: 130px;
}
#testimonio >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#testimonio >.img-fondo > .base-info > .datos{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 460px));
    gap: 20px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna1 > div > img{
    width: 70px;
    color:var(--color-detalle);
}
#testimonio >.img-fondo > .base-info > .datos > .columna1 > h1{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30%;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .opinion{
    font-size: 19px;
    text-align: justify;
    line-height: 40px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .firma{
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .origen{
    font-size: 15px;
    margin-top: -20px;
    font-style: italic;
    font-weight: 600;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles{
    display: grid;
    grid-template-columns: repeat(2, 70px);
    justify-content: center;
    gap: 5px;
    margin-top: 100px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles > a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    text-align: center;
    width: 50px;
    height: 60px;
}
.enciende-control{
    background-color: var(--color-detalle);
    color: black;
}
/* BLOQUE CONTACTO */
#contacto{
    width: 100%;
    height: 100%;
    background-color: var(--background-secciones-oscuras);
}
#contacto > .img-fondo{
    position: relative;
    height: 100vh;
}
#contacto > .img-fondo > .base-info{
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 80vw);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#contacto >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 80px;
}
#contacto >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#contacto >.img-fondo > .base-info > .datos {
    margin-left: 5vw;
    margin-right: 10vw;
}
#contacto >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#contacto >.img-fondo > .base-info > .datos > .formulario{
    margin-top: 10vh;
}
#contacto >.img-fondo > .base-info > .datos > .formulario > form >.nombre-email > .col >.form-control,
#contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > input,
#contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > textarea{
    background-color: var(--background-inputs);
    border: none;
    font-size: 12px;
    color: gray;
}
#contacto >.img-fondo > .base-info > .datos > .formulario > form >.nombre-email > .col >.form-control:focus,
#contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > input:focus,
#contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > textarea:focus{
    border: 3px solid #28ff88;
}
#contacto >.img-fondo > .base-info > .datos > .formulario > form > button{
    background-color: var(--color-detalle);
    font-size: 14px;
    color: var(--background-secciones-oscuras);
    font-weight: 700;
    text-transform: uppercase;
}
#contacto >.img-fondo > .base-info > .datos > .formulario > form > button:hover{
    background-color: var(--background-secciones-oscuras);
    font-size: 14px;
    color: var(--color-detalle);
    font-weight: 700;
}


/* MEDIA QUERIES */
@media screen and (max-width:400px){
    #sidebar{
        display: none;
    }
    header{
        width: 100vw;
    }
    .list-contact{
        display: none;
    }
    header > nav {
        display: grid;
        grid-template-columns: 85% 15%;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    #base >.img-fondo > .base-info{
        top: 35%;
        left: 5%;
        grid-template-columns: 80vw;
        gap: 20px;
    }
    #base >.img-fondo > .base-info > .datos > .margin-minus {
        margin-top: -10px;
    }
    #base >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
        display: none;
    }
    #base >.img-fondo > .base-info > .datos > h1 {
        /* font-family: 'Poppins', sans-serif; */
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #what-i-do > .img-fondo{
        height: 180vh;
    }
    #what-i-do > .img-fondo > .base-info{
        grid-template-columns: 80vw;
        height: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 7vw;
    }
    #what-i-do >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
        display: none;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades{
        margin-left: 30px;
        width: 80vw;
    }
    #what-i-do >.img-fondo > .base-info > .datos > .descripcion{
        margin-top: 7%;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
        color: gray;
        text-align: justify;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress {
        width: 85%;
        height: 8px;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel {
        display: grid;
        grid-template-columns: auto 30px;
        width: 85%;
        margin-bottom: -13px;
    }
    #experiencia > .img-fondo,  #experiencia > .img-fondo > img{
        height: 220vh;
    }
    #experiencia >.img-fondo > .base-info{
        grid-template-columns: 80vw;
        gap: 20px;
        color: white;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }
    #experiencia >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
        display: grid;
        grid-template-columns: 70vw;
        gap: 30px;
        margin-top: 10px;
    }
    #experiencia >.img-fondo > .base-info > .datos > p {
        font-size: 26px;
    }
    #servicios{
        height: 190vh;
    }
    #servicios > .img-fondo > .base-info{
        /* display: grid;
        top: 20vh;
        left: 2%; */
        grid-template-columns: 80vw;
        height: auto;
        gap: 20px;
        color: white;
        justify-content: center;
        position: absolute;
        margin-left: 7vw;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-top: 25%;
    }
    #servicios >.img-fondo > .base-info > .datos{
        width: 80%;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #servicios >.img-fondo > .base-info > .datos > .descripcion {
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo{
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato{
        top: 93%;
        grid-template-columns: repeat(2, minmax(80px, 100%));
        align-items: center;
    }
    #servicios >.img-fondo > .base-info > .tiempo > img{
        width: 100%;
        height: 350px;/*  DEBE CAMBIARSE */
        position: relative;
    }
    #resume >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #resume >.img-fondo > .base-info{
        grid-template-columns: 80vw;
        gap: 50px;
        justify-content: center;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs{
        grid-template-columns: minmax(150px, 90vw);
    }
    #empresas >.img-fondo > .base-info > .titulo {
        display: none;
    }
    #empresas > .img-fondo > .base-info{
        grid-template-columns: 90vw;

    }
    #empresas >.img-fondo > .base-info > .datos{
        grid-template-columns: 80vw;
        margin-left: 7vw;
    }
    #testimonio{
        height: 175vh;
    }
    #testimonio >.img-fondo > img{
        height: 175vh;
    }
    #testimonio >.img-fondo > .base-info{
        grid-template-columns: 90vw;
        justify-content: center;
    }
    #testimonio >.img-fondo > .base-info > .titulo {
        display: none;
    }
    #testimonio >.img-fondo > .base-info > .datos {
        display: grid;
        grid-template-columns: 70vw;
        gap: 20px;
        justify-content: center;
        margin-left: 5vw;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles{
        margin-top: 0;
    }
    #contacto{
        width: 100%;
        height: 100%;
        background-color: var(--background-secciones-oscuras);
    }
    #contacto > .img-fondo{
        position: relative;
        height: 100vh;
    }
    #contacto > .img-fondo > .base-info{
        grid-template-columns: 95vw;
        justify-content: center;
        align-items: center;
    }
    #contacto >.img-fondo > .base-info > .titulo{
        display: none;
    }
    
    #contacto >.img-fondo > .base-info > .datos {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #contacto >.img-fondo > .base-info > .datos > h1{
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario{
        margin-top: 5vh;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .nombre-email > .col{
        margin-bottom: 2vh;
    }
    #testimonio >.img-fondo > .base-info{
        position: absolute;
        display: grid;
        top: 15%;
        left: 2%;
        grid-template-columns: 90vw;
        gap: 30px;
        color: white;
        justify-content: center;
        align-items: center;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li:before {
        position: absolute;
        content: '';
        left: 8%;
        width: 1rem;
        height: 1rem;
        background: #0e0e0e;
        border-radius: 50%;
        border: 2px solid var(--color-detalle);
    }
    #empresas > .img-fondo {
        position: relative;
        height: 170vh;
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(1) {
        font-size: 100px;
        font-weight: 600;
        text-shadow: 1px 1px rgba(68, 66, 66, 0.411);
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(2) {
        font-size: 15px;
        width: 100px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 50px;
    }
}
@media (min-width:400px) and (max-width:900px) {
    #sidebar{
        display: none;
    }
    header{
        width: 100vw;
    }
    .list-contact{
        display: none;
    }
    header > nav {
        display: grid;
        grid-template-columns: 85% 15%;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    #base >.img-fondo > .base-info{
        top: 35%;
        left: 5%;
        grid-template-columns: 80vw;
        gap: 20px;
    }
    #base >.img-fondo > .base-info > .datos > .margin-minus {
        margin-top: -10px;
    }
    #base >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
        display: none;
    }
    #base >.img-fondo > .base-info > .datos > h1 {
        /* font-family: 'Poppins', sans-serif; */
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #what-i-do > .img-fondo{
        height: 130vh;
    }
    #what-i-do > .img-fondo > .base-info{
        grid-template-columns: 80vw;
        height: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 7vw;
    }
    #what-i-do >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
        display: none;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades{
        margin-left: 30px;
        width: 80vw;
    }
    #what-i-do >.img-fondo > .base-info > .datos > .descripcion{
        margin-top: 7%;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
        color: gray;
        text-align: justify;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress {
        width: 85%;
        height: 8px;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel {
        display: grid;
        grid-template-columns: auto 30px;
        width: 85%;
        margin-bottom: -13px;
    }
    #experiencia > .img-fondo,  #experiencia > .img-fondo > img{
        height: 160vh;
    }
    #experiencia >.img-fondo > .base-info{
        grid-template-columns: 80vw;
        gap: 20px;
        color: white;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }
    #experiencia >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
        display: grid;
        grid-template-columns: 70vw;
        gap: 30px;
        margin-top: 10px;
    }
    #experiencia >.img-fondo > .base-info > .datos > p {
        font-size: 26px;
    }
    #servicios{
        height: 160vh;
    }
    #servicios > .img-fondo > .base-info{
        /* display: grid;
        top: 20vh;
        left: 2%; */
        grid-template-columns: 80vw;
        height: auto;
        gap: 20px;
        color: white;
        justify-content: center;
        position: absolute;
        margin-left: 7vw;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-top: 25%;
    }
    #servicios >.img-fondo > .base-info > .datos{
        width: 80%;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #servicios >.img-fondo > .base-info > .datos > .descripcion {
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo{
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato{
        top: 85%;
        grid-template-columns: repeat(2, minmax(80px, 100%));
        align-items: center;
        margin-left: 15vw;
    }
    #servicios >.img-fondo > .base-info > .tiempo > img{
        width: 100%;
        height: 350px;/*  DEBE CAMBIARSE */
        position: relative;
    }
    #resume >.img-fondo > .base-info > .titulo{
        display: none;
    }
    #resume >.img-fondo > .base-info{
        grid-template-columns: 80vw;
        gap: 50px;
        justify-content: center;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs{
        grid-template-columns: minmax(150px, 90vw);
    }
    #empresas >.img-fondo > .base-info > .titulo {
        display: none;
    }
    #empresas > .img-fondo > .base-info{
        grid-template-columns: 90vw;

    }
    #empresas >.img-fondo > .base-info > .datos{
        grid-template-columns: repeat(2, minmax(100px, 50%));
        margin-left: 5vw;
    }
    #testimonio{
        height: 160vh;
    }
    #testimonio >.img-fondo > img{
        height: 160vh;
    }
    #testimonio >.img-fondo > .base-info{
        grid-template-columns: 90vw;
        justify-content: center;
    }
    #testimonio >.img-fondo > .base-info > .titulo {
        display: none;
    }
    #testimonio >.img-fondo > .base-info > .datos {
        display: grid;
        grid-template-columns: 70vw;
        gap: 20px;
        justify-content: center;
        margin-left: 5vw;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles{
        margin-top: 0;
    }
    #contacto{
        width: 100%;
        height: 100%;
        background-color: var(--background-secciones-oscuras);
    }
    #contacto > .img-fondo{
        position: relative;
        height: 100vh;
    }
    #contacto > .img-fondo > .base-info{
        grid-template-columns: 95vw;
        justify-content: center;
        align-items: center;
    }
    #contacto >.img-fondo > .base-info > .titulo{
        display: none;
    }
    
    #contacto >.img-fondo > .base-info > .datos {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #contacto >.img-fondo > .base-info > .datos > h1{
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario{
        margin-top: 5vh;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .nombre-email > .col{
        margin-bottom: 2vh;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form >.nombre-email > .col >.form-control,
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > input,
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > textarea{
        background-color: var(--background-inputs);
        border: none;
        font-size: 15px;
        color: gray;
    }
}
@media (min-width: 900px) and (max-width:1100px) {
    #base > .img-fondo > img, #experiencia > .img-fondo > img, #resume > .img-fondo > img, #testimonio > .img-fondo > img{
        height: 120vh;
    }
    #base >.img-fondo > .base-info{
        top: 35%;
        left: 2%;
        grid-template-columns: 100px minmax(300px, 600px);
        gap: 20px;
    }
    #base >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
    }
    #base >.img-fondo > .base-info > .datos > h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #base >.img-fondo > .base-info > .datos > .margin-minus{
        margin-top: 0;
    }
    #what-i-do > .img-fondo{
        height: 120vh;
    }
    #what-i-do > .img-fondo > .base-info{
        grid-template-columns: 100px minmax(250px, 70vw);
        height: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    #what-i-do >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades{
        margin-left: 30px;
        grid-column: 2/3;
        width: 80vw;
    }
    #what-i-do >.img-fondo > .base-info > .datos > .descripcion{
        margin-top: 7%;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
        color: gray;
        text-align: justify;
    }
    #experiencia >.img-fondo > .base-info{
        grid-template-columns: 100px minmax(300px, 70vw);
        gap: 20px;
        color: white;
        justify-content: center;
        align-items: center;
    }
    #experiencia >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-left: 40%;
        padding-top: 50%;
    }
    #experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 70vw));
        gap: 30px;
        margin-top: 80px;
    }
    #servicios{
        height: 150vh;
    }
    #servicios > .img-fondo > .base-info{
        /* display: grid;
        top: 20vh;
        left: 2%; */
        grid-template-columns: 100px minmax(300px, 90vh);
        height: auto;
        gap: 20px;
        color: white;
        justify-content: center;
        position: absolute;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        padding-top: 25%;
    }
    #servicios >.img-fondo > .base-info > .datos{
        width: 80%;
    }
    #servicios >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
        margin-left: 320px;/* SOLO PARA ESTE CASO */
        margin-top: -220px;
    }
    #servicios >.img-fondo > .base-info > .datos > .descripcion {
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo{
        grid-column: 2/3;
        margin-top: 5%;
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato{
        top: 85%;
        grid-template-columns: repeat(2, minmax(80px, 100%));
        align-items: center;
        margin-left: 15vw;
    }
    #servicios >.img-fondo > .base-info > .tiempo > img{
        width: 100%;
        height: 350px;/*  DEBE CAMBIARSE */
        position: relative;
    }
    #resume >.img-fondo > .base-info > .titulo{
        transform: rotate(-90deg);
    }
    #resume >.img-fondo > .base-info{
        grid-template-columns: 100px minmax(300px, 70vw);
        gap: 50px;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs{
        grid-template-columns: minmax(150px, 90vw);
    }
    #empresas > .img-fondo > .base-info{
        grid-template-columns: 100px minmax(250px, 70vw);
    }
    #empresas >.img-fondo > .base-info > .datos{
        grid-template-columns: repeat(2, minmax(100px, 50%));
    }
    #testimonio{
        height: 150vh;
    }
    #testimonio >.img-fondo > img{
        height: 150vh;
    }
    #testimonio >.img-fondo > .base-info{
        grid-template-columns: 100px minmax(300px, 70vw);
    }

    #testimonio >.img-fondo > .base-info > .datos {
        display: grid;
        grid-template-columns: repeat(1, minmax(280px, 100%));
        gap: 20px;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles{
        margin-top: 0;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .nombre-email{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 40vw));
        gap: 10px;
    }
}
@media (min-width:1100px) and (max-width: 1325px){
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .nombre-email{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 40vw));
        gap: 10px;
    }
}

@media screen and (min-width: 1325px) {
    #base >.img-fondo > .base-info{
        top: 35%;
        left: 4%;
        grid-template-columns: 100px minmax(300px, 1200px);
        gap: 80px;
    } 
    #base >.img-fondo > .base-info > .datos > p{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #base >.img-fondo > .base-info > .datos > h1{
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    #what-i-do > .img-fondo > .base-info{
        top: 20vh;
        left: 4%;
        grid-template-columns: 100px minmax(250px, 600px) minmax(300px, 800px);
        gap: 40px;

    }
    #what-i-do >.img-fondo > .base-info > .datos > p:nth-child(1){
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    } 
    #what-i-do >.img-fondo > .base-info > .datos > h1{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #what-i-do >.img-fondo > .base-info > .datos > .descripcion{
        margin-top: 15%;
        letter-spacing: 1px;
        font-size: 20px;
        text-align: justify;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel{
        grid-template-columns: 85% 15%;
        width: 80%;
    }
    #what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel > p{
        font-size: 20px;
    }
    #experiencia >.img-fondo > .base-info{
        top: 20vh;
        left: 4%;
        grid-template-columns: 100px minmax(300px, 80vw);
        gap: 80px;
    }  
    #experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
        grid-template-columns: repeat(4, minmax(180px, 20%));
        gap: 30px;
    }
    #experiencia >.img-fondo > .base-info > .datos > p{
        font-size: 40px;
        font-weight: 600;
    }
    #experiencia >.img-fondo > .base-info > .datos > a > h1{
        font-size: 30px;
        margin-top: 50px;
    }
    
    #servicios >.img-fondo > .base-info > .datos > p:nth-child(1){
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #servicios >.img-fondo > .base-info > .datos > h1{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #servicios >.img-fondo > .base-info > .tiempo > img{
        width: 80%;
        height: 450px;/*  DEBE CAMBIARSE */
    }
    #servicios >.img-fondo > .base-info > .tiempo > .dato{
        top: 350px;
        grid-template-columns: repeat(2, minmax(120px, 100%));
        align-items: center;
        margin-left: 30px;
    }
    #resume >.img-fondo > .base-info{ /* LA UNICA IMEGEN QUE DEBE TRAER UNA MASCARA */
        background: url(../img/img-background.png) no-repeat center center fixed;
            background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        display: grid;
        grid-template-columns: 100px minmax(300px, 80%);
        gap: 50px;
        color: white;
        align-items: baseline;
        padding-top: 13%;
       /*  padding-left: 2%; */
        width: 100%;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs{
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 90%));
        gap: 30px;
        font-family: 'Poppins', sans-serif;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > p{
        font-size: 22px;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li > h3{
        font-size: 20px;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .lugar{
        font-size: 18px;
        font-weight: 600;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .fecha{
        font-size: 16px;
        color: var(--color-detalle);
        letter-spacing: 1px;
    }
    #resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .descripcion{
        font-size: 16px;
    }
    #empresas > .img-fondo > .base-info{
        left: 4%;
        grid-template-columns: 100px minmax(250px, 1400px);
        height: auto;
        gap: 40px;
        color: white;
    }
    #empresas >.img-fondo > .base-info > .datos{
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 25%));
        gap: 30px;
    }
    #testimonio >.img-fondo > .base-info{
        top: 25%;
        left: 4%;
        grid-template-columns: 100px minmax(300px, 80vw);
        gap: 30px;
    }
    #testimonio >.img-fondo > .base-info > .datos{
        display: grid;
        grid-template-columns: repeat(2, minmax(280px, 45%));
        gap: 25px;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .opinion{
        font-size: 22px;
        text-align: justify;
        line-height: 40px;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .firma{
        font-size: 20px;
        font-weight: 700;
        margin-top: 50px;
    }
    #testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .origen{
        font-size: 18px;
        margin-top: -20px;
        font-style: italic;
        font-weight: 600;
    }
    #contacto >.img-fondo > .base-info > .datos {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form >.nombre-email > .col >.form-control,
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > input,
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .form-group > textarea{
        background-color: var(--background-inputs);
        border: none;
        font-size: 15px;
        color: gray;
    }
    #contacto >.img-fondo > .base-info > .datos > .formulario > form > .nombre-email{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 40vw));
        gap: 20px;
    }
}
@media screen and (min-width: 1525px) {
    #servicios > .img-fondo > .base-info{
        top: 20vh;
        left: 4%;
        grid-template-columns: 100px minmax(250px, 600px) minmax(300px, 650px);
        gap: 40px;
    }
    #servicios >.img-fondo > .base-info > .tiempo > img{
        width: 90%;
        height: 450px;/*  DEBE CAMBIARSE */
    }
    
}
@media screen and (min-width: 1625px) {
    #empresas >.img-fondo > .base-info > .datos{
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 300px));
        gap: 30px;
    }
}