*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
:root{
    --color-detalle: #28ff88;
    --background-secciones-oscuras:rgba(0, 0, 0, 0.842);
    --mascara: rgba(0, 0, 0, 0.466);
}

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    position: fixed;
    z-index: 999999;
    color: aliceblue;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
header > nav{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
header > nav > a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: auto;
}
header > nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 20px);
    gap: 35px;
    align-items: center;
    padding-left: 200px;
    padding-top: 20px;
}
header > nav > ul > li{
    justify-content: end;
}
header > nav > ul > li > a{
    color: white;
    margin: auto;
}
.mascara{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--mascara);
}

/* BLOQUE PRESENTACION */

#base, #experiencia, #resume, #testimonio{
    width: 100%;
    height: 100%;
    
}
#base > .img-fondo, #experiencia > .img-fondo, #resume > .img-fondo, #testimonio > .img-fondo{
    position: relative;
}
#base > .img-fondo > img, #experiencia > .img-fondo > img, #resume > .img-fondo > img, #testimonio > .img-fondo > img{
    top: 0;
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

/* SIDEBAR */
#sidebar{
    position: fixed;
    right: 34px;
    top: 25%;
    z-index: 9999;
    color: white;
}
#sidebar > ul{
    list-style: none;
    margin-right: 50px;
    font-size: 30px;
}

.active{
    color: var(--color-detalle);
}

#base >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 35%;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

#base >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 80px;
}
#base >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#base >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#base >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#base >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#base >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#base >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}

/* BLOQUE QUE HAGO */
#what-i-do{
    width: 100%;
    height: 100%;
    background-color: var(--background-secciones-oscuras);
}
#what-i-do > .img-fondo{
    position: relative;
    height: 100vh;
}
#what-i-do > .img-fondo > .base-info{
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 400px) minmax(300px, 1000px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#what-i-do >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 110px;
}
#what-i-do >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#what-i-do >.img-fondo > .base-info > .datos > p:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#what-i-do >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#what-i-do >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#what-i-do >.img-fondo > .base-info > .datos > .descripcion{
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: gray;
}
#what-i-do >.img-fondo > .base-info > .habilidades{
    margin-left: 30px;
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress{
    width: 75%;
    height: 8px;
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .progress > .progress-bar{
    background-color: var(--color-detalle);
}
#what-i-do >.img-fondo > .base-info > .habilidades > .lista-progress > .item > .nivel{
    display: grid;
    grid-template-columns: auto 30px;
    width: 75%;
    margin-bottom: -13px;
}

/* BLOQUE EXPERIENCIA */
#experiencia >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 750px);
    gap: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

#experiencia >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    margin-top: -165px;
}
#experiencia >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#experiencia >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#experiencia >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#experiencia >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#experiencia >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#experiencia >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 260px));
    gap: 30px;
}
#experiencia >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items{
    width: 100%;
    height: 100%;
    border: white 3px solid;
    
}
#experiencia >.img-fondo > .base-info > .datos > a{
    text-decoration: none;
    color: white;
    
}
#experiencia >.img-fondo > .base-info > .datos > a > h1{
    font-size: 22px;
    margin-top: 40px;
}

/* BLOQUE SERVICIOS */

#servicios{
    width: 100%;
    height: 100vh;
    background-color: var(--background-secciones-oscuras);
}
#servicios > .img-fondo{
    position: relative;
    height: 100vh;
}
#servicios > .img-fondo > .base-info{
    display: grid;
    top: 20vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 400px) minmax(300px, 1000px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    position: absolute;
}
#servicios >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    margin-left: 430px; /* SOLO PARA ESTE CASO */
    margin-top: -300px;
}
#servicios >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#servicios >.img-fondo > .base-info > .datos > p:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
#servicios >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#servicios >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#servicios >.img-fondo > .base-info > .datos > .descripcion{
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: gray;
}
#servicios >.img-fondo > .base-info > .datos > .descripcion > ol > li{
    font-size: 16px;
    text-transform: uppercase;
}
#servicios >.img-fondo > .base-info > .tiempo > img{
    width: 70%;
    height: 350px;/*  DEBE CAMBIARSE */
    position: relative;
}
#servicios >.img-fondo > .base-info > .tiempo > .dato{
    display: grid;
    position: absolute;
    top: 250px;
    grid-template-columns: repeat(2, minmax(80px, 100%));
    align-items: center;
    margin-left: 30px;
}
#servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(1){
    font-size: 160px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(68, 66, 66, 0.411);
}
#servicios >.img-fondo > .base-info > .tiempo > .dato > p:nth-child(2){
    font-size: 25px;
    width: 100px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 50px;
}
/* BLOQUE RESUME */
#resume >.img-fondo > .mascara{
    width: 100vw;
    height: 100vh;
}
#resume >.img-fondo > .base-info{ /* LA UNICA IMEGEN QUE DEBE TRAER UNA MASCARA */
    background: url(../img/img-background.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    display: grid;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 50px;
    color: white;
    align-items: baseline;
    padding-top: 13%;
   /*  padding-left: 2%; */
    width: 100%;
}

#resume >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-right: 160px;
}
#resume >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#resume >.img-fondo > .base-info > .datos {
    padding-bottom: 5px;
    margin-bottom: 100px;
}
#resume >.img-fondo > .base-info > .datos > p{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume >.img-fondo > .base-info > .datos > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume >.img-fondo > .base-info > .datos > h1 > span{
    color: var(--color-detalle);
}
#resume >.img-fondo > .base-info > .datos > .margin-minus{
    margin-top: -25px;
}
#resume >.img-fondo > .base-info > .datos > .margen-bajo{
    border-bottom: var(--color-detalle) 4px solid;
    width: 150px;
    margin-top: 70px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 420px));
    gap: 30px;
    font-family: 'Poppins', sans-serif;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);    
}
#resume >.img-fondo > .base-info > .datos > a{
    text-decoration: none;
    color: white;
    
}
#resume >.img-fondo > .base-info > .datos > a > h1{
    font-size: 22px;
    margin-top: 40px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > p{
    background-color: #28ff8994;
    color: rgba(22, 22, 22, 0.788);
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul{
    position: relative;
    list-style: none;
    
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li {
    padding-left: 5.7%;
    border-left: 1px solid rgba(104, 104, 104, 0.705);
    padding-right: 7%;
    padding-bottom: 2%;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li:before {
    position: absolute;
    content: '';
    left: 5.7%;
    width: 1rem;
    height: 1rem;
    background: #0e0e0e;
    border-radius: 50%;
    border: 2px solid var(--color-detalle);
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > ul > li > h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .lugar{
    margin-top: 25px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .fecha{
    margin-top: 25px;
    margin-bottom: 14px;
    font-size: 12px;
    color: var(--color-detalle);
    letter-spacing: 1px;
}
#resume >.img-fondo > .base-info > .datos > .grilla-jobs > .grilla-items > .item > li > .descripcion{
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 14px;
    color: rgb(209, 209, 209);
    line-height: 27px;
    text-align: justify;
}
/* BLOQUE EMPRESAS */
#empresas{
    width: 100%;
    height: 100%;
    background-color: var(--background-secciones-oscuras);
}
#empresas > .img-fondo{
    position: relative;
    height: 100vh;
}
#empresas > .img-fondo > .base-info{
    display: grid;
    top: 30vh;
    left: 2%;
    grid-template-columns: 100px minmax(250px, 1500px);
    height: auto;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#empresas >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 110px;
}
#empresas >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    width: max-content;
}
#empresas >.img-fondo > .base-info > .datos{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    gap: 20px;
}
#empresas >.img-fondo > .base-info > .datos > .item > img{
    width: 100%;
}

/* BLOQUE TESTIMONIOS */
#testimonio >.img-fondo > .base-info{
    position: absolute;
    display: grid;
    top: 25%;
    left: 2%;
    grid-template-columns: 100px minmax(300px, 1000px);
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

#testimonio >.img-fondo > .base-info > .titulo{
    transform: rotate(-90deg);
    padding-left: 250px;
    padding-bottom: 130px;
}
#testimonio >.img-fondo > .base-info > .titulo > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
}
#testimonio >.img-fondo > .base-info > .datos{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 460px));
    gap: 20px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna1 > div > img{
    width: 70px;
    color:var(--color-detalle);
}
#testimonio >.img-fondo > .base-info > .datos > .columna1 > h1{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30%;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .opinion{
    font-size: 19px;
    text-align: justify;
    line-height: 40px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .firma{
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .opinion-item > .origen{
    font-size: 15px;
    margin-top: -20px;
    font-style: italic;
    font-weight: 600;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles{
    display: grid;
    grid-template-columns: repeat(2, 70px);
    justify-content: center;
    gap: 5px;
    margin-top: 30%;
}
#testimonio >.img-fondo > .base-info > .datos > .columna2 > .controles > a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    text-align: center;
    width: 50px;
    height: 60px;
}
.enciende-control{
    background-color: var(--color-detalle);
    color: black;
}